
.bg-image {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-how-we-work{
    background-image: url(../assets/young-afro-people-working-in-an-office.png);
    background-position: center;
}

.overlay-gray{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(100, 100, 100, 0.479);
}

/* SVG ================== */

.services-offered-line .cls-1,.cls-3,.cls-4,.cls-5{fill:none;}
.cls-1{stroke:#f9f2f2;stroke-width:3px;}
.cls-1,.cls-2,.cls-3,.cls-4,.cls-5{stroke-miterlimit:10;}
.cls-2{fill:#fff;stroke:#000;stroke-width:5px;}
.cls-3{stroke:#e7009c;}
.cls-3,.cls-4,.cls-5{stroke-width:2px;}
.cls-4{stroke:#2eeaff;}
.cls-5{stroke:#e3a2ff;}
.services-offered-line {
    position: absolute;
    top: 13%;
    left: 16%;
    width: 800px;
}

.button-decoration-left .cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:4px;}
.button-decoration-left{
    position: absolute;
    left: 41%;
    top: 67%;
    width: 30px;
}
.button-decoration-right .cls-1{fill:none;stroke:#000;stroke-miterlimit:10;stroke-width:4px;}
.button-decoration-right{
    position: absolute;
    right: 41%;
    bottom: 10%;
    width: 30px;
}

